* {
    padding: 0;
    margin: 0;
}

header {
    background: #000;
    color: #fff;
}

.round {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cart_list {
    display: none;
    background: #fff;
    height: 200px;
    width: 100px;
}

.cart_list.shown {
    display: block;
}